<header class="bg-dark text-white p-4">
  <div class="container">
    <h1>Select a breed</h1>

    <form class="d-flex">
      <mat-form-field class="form-control me-2">
        <mat-label>Breeds</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let breed of filteredOptions | async"
            [value]="breed"
            (click)="selectBreed(breed)"
          >
            {{ breed }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</header>

<main class="container mt-4" *ngIf="selectedBreed">
  <div class="mb-4">
    <span class="fw-bold">Selected Breed:</span>
    <p class="fw-bold fs-1 text-capitalize mt-2 text-success">
      {{ selectedBreed }}
    </p>
  </div>

  <div class="row">
    <div
      class="col d-flex justify-content-center"
      *ngFor="let imageBreed of imagesOfBreed"
    >
      <mat-card class="breed-card">
        <img mat-card-image src="{{ imageBreed }}" alt="{{ selectedBreed }}" />
      </mat-card>
    </div>
  </div>

  <div class="mt-5">
    <span class="fw-bold" *ngIf="relatedBreeds.length">Releted Breeds</span>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let breed of relatedBreeds">
        <mat-icon matListItemIcon>pets</mat-icon>
        <div matListItemTitle>{{ breed }}</div>
      </mat-list-item>
    </mat-list>
  </div>
</main>
